<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.just_test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Just a test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerActivity"></activity>
        <activity android:name=".ListActivity" />
        <activity android:name=".PercentActivity" />
        <activity android:name=".CompoActivity" />
        <activity
            android:name=".DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".NormalActivity" />
        <activity android:name=".ButtonActivity">
            <intent-filter>
                <action android:name="com.example.just_test.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.just_test.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>